<html>
    <head>
        <title>Login to app</title>
        <link href="./static/styles/login.css" rel="stylesheet">
    </head>

    <body>

        <div class="flash_message">
            <p class="flash_text">${flash_message}</p>
        </div>
        
        <div class="form_hold">
            <form action="" method="post">
                <p class="sitename">PageSum Account</p>
                <p style="margin: 0px; opacity: 0.5; margin-bottom: 10%; font-weight: 600;">Unlimited Summaries</p>
                <p style="margin: 0px; opacity: 0.5; margin-bottom: 10%; font-weight: 600;">Login</p>
                <label for="email" class="input_label">Email</label>
                <input type="email" name="email" class="input_box">
                <label for="password" class="input_label">Password</label>
                <input type="password" name="password" class="input_box">
                <input type="hidden" name="token" value="${token}">
                <input type="submit" value="Login" class="submit_button">
            </form>
        </div>
        
    </body>
    <script src="./static/js/app.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700,900" rel="stylesheet">

</html>