<html>
    <head>
        <title>Login to app</title>
    </head>
    <body>
        
        <form action="" method="post">
            <label for="email" class="input_label">Email</label>
            <input type="email" name="email" class="input_box">
            <label for="password" class="input_label">Password</label>
            <input type="password" name="password" class="input_box">
            <input type="hidden" name="token" value="${token}">
            <input type="submit" value="Sign Up" class="submit_button">
        </form>
        
    </body>
</html>