<html>
    <head>
        <title>Login to app</title>
        <link href="./static/styles/main.css" rel="stylesheet">
    </head>

    <body>

        <div class="flash_message">
            <p class="flash_text">${flash_message}</p>
        </div>

        <p class="user_email">${user_email}</p>
        <div class="form_cont">
                <p class="sitename">PageSum</p>
                <p style="margin: 0px; opacity: 0.5; margin-bottom: 8%; font-weight: 600;">Quickly Summarize Articles</p>
                <form action="" method="post">
                        <input type="text" name="req_url" class="input_box">
                        <input type="hidden" name="token" value="${token}">
                    </form>
                <p class="summary" style="margin-top: 2%; font-weight: 400; opacity: 0.6; line-height: 40px; font-size: 18px;">The game in question was once codenamed "Ragtag" while in development with wholly owned EA subsidiary Visceral Games. That changed in late 2017 with a formal announcement of that studio's closure, along with the game's assets and development being primarily handed over to the EA Vancouver studio. This handover was officially described as "a significant change" to the in-development game due to "fundamental shifts in the marketplace."</p>
        </div>
        
    </body>
    <script src="./static/js/app.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700,900" rel="stylesheet">

</html>